/* General body styling (try not to touch too much) */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,700,800);
html, body {
        min-width: 960px;
		margin: 0px;
		padding: 0px;
		background-color: #EEEEEE;
}
 
p, html, body, h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif;
        color: #3c3c3c;
        text-rendering: optimizeLegibility;
}

p {
	font-size: 1.1rem;
}

/* Header styles */

header {
	width: 100%;
	display: inline-block;
}

.head-title #logo {
	width: auto;
	margin: 25px 0 0 15px;
}

/* Navigation styles */

nav {
	margin-top: 50px;
    background: #5A2794;
    border-bottom: 8px solid #E6E2DF;
    overflow: hidden;
    position: relative;
    width: 100%;
}
nav:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white; 
}
nav ul {
    background: -moz-linear-gradient(left,
                #5A2794 0%,
                #5A2794 50%,
                #5A2794 100%);
    background: -webkit-gradient(linear, left top, right top,
                color-stop(0%,#5A2794),
                color-stop(50%,#5A2794),
                color-stop(50%,#5A2794),
                color-stop(100%,#5A2794));
    list-style: none;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 810px;
}
nav li {
    display: inline;
}
nav a {
    color: white;
    display: block;
    float: left;
    font-family: "myriad-pro-1","myriad-pro-2", HelveticaNeue, Helvetica, Arial, Sans-Serif;
    font-size: 22px;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    width: 19%;
    -webkit-transition: width 0.12s ease;
       -moz-transition: width 0.12s ease;
         -o-transition: width 0.12s ease;
            transition: width 0.12s ease;
}
nav a:hover {
    color: white;
}
nav a:hover span {
    border-bottom: 2px solid white;
}
nav .a-home {
    background: #ff8400;
    z-index: 100;
    position: relative;
}    
nav .a-forums {
    background: #e42b2b;
}    
nav .a-videos {
    background: #a800ff;
}    
nav .a-downloads {
    background: #49a7f3;
}   
nav .a-snippets {
    background: #41d05f;
}
.home nav {
    border-bottom-color: #ff8400;
}
.forums nav {
    border-bottom-color: #e42b2b;
}
.videos nav {
    border-bottom-color: #a800ff;
}
.downloads nav {
    border-bottom-color: #49a7f3;
}
.snippets nav {
    border-bottom-color: #41d05f;
}
nav li:hover a {
    width: 24%;
}
nav ul:hover .active {
    width: 19%;
}
nav ul:hover .active:hover {
    width: 24%;
}
nav li a.active {
    width: 24%;
}

/* Layout styles */

article {
	border-radius: 10px;
	padding: 1%;
	position: relative;
	width: 50%;
	margin: 25px auto 0 auto;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

article p {
	margin: .2rem 0;
}

article section {

}

/* Aside styles */

aside {
    min-width: 150px;
    float: left;
	width: 10%;
	background-color: #5A2794;
	border-radius: 0 10px 10px 0;
}

aside ul {
	display: block
}

aside ul li {
    display: block;
}

aside ul li li {

}

aside ul li a {
    display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 100;
}

aside ul li:hover {
	background-color: rgba(255, 255, 255, .1);
}

aside ul li li a {

}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #5A2794;
    padding: .5%;
}

footer a {
    color: white;
    text-decoration: none;
}